<mat-toolbar style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between center">
  <span>Quiz</span>
</mat-toolbar>

<div *ngIf="quizData && completedQuestions">
  <div class="quiz-container" fxLayout="row" fxLayoutAlign="start center" *ngFor="let question of quizData; let currentQuizIndex = index;">
    <div >
      <mat-toolbar>Q. {{currentQuizIndex+1}} : {{quizData[currentQuizIndex].question}}</mat-toolbar>
      <mat-radio-group aria-label="Select an option" class="options-container" fxLayout="column"
        [value]="completedQuestions[currentQuizIndex] && completedQuestions[currentQuizIndex].answer? completedQuestions[currentQuizIndex].answer: null">
        <mat-radio-button [disabled]="completedQuestions[currentQuizIndex] && completedQuestions[currentQuizIndex].answer" class="option" [value]="option" [ngClass]="{'correct-answer': quizData[currentQuizIndex].answerRight === option, 'wrong-answer': isPractice && completedQuestions[currentQuizIndex] && completedQuestions[currentQuizIndex].answer !== quizData[currentQuizIndex].answerRight && completedQuestions[currentQuizIndex].answer === option && completedQuestions[currentQuizIndex].answer}"
          *ngFor="let option of quizData[currentQuizIndex].answers"
          >{{option}}
        </mat-radio-button>
      </mat-radio-group>
  </div>
</div>

<!-- Marks Score: {{isMinusMarking? (correctAnswers - wrongAnswers*isMinusMarkingRatio)*5: correctAnswers*5}} -->

