<div class="outer-layout">
  <div class="layout-container">
    <app-user-details></app-user-details>
    <div>
      <div class="box header flex items-center justify-between">
        <!-- <a routerLink="/dashboard">Dashboard</a> -->
        <!-- <a routerLink="/upcoming-quiz">Upcoming-quiz</a> -->
        <button class="bg-blue-600 hover:bg-blue-800 text-white  px-5 py-1 rounded"><a routerLink="/practice-quiz">Quiz</a></button>
        <button class="bg-blue-600 hover:bg-blue-800 text-white  px-5 py-1 rounded"> <a routerLink="/leaderboard">Leaderboard</a></button>

      </div>
    </div>
    <!-- <mat-toolbar class="justify-center text-4xl" color="primary">
      <span>Leaderboard</span>
    </mat-toolbar> -->
    <router-outlet></router-outlet>
  </div>
</div>
